@model IEnumerable<Question>
@inject StackContext db

@{
    ViewData["Title"] = "All Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Questions</h1>

<p>
    <a asp-action="Create">Ask a new Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Show" asp-route-id="@item.QuestionId">View Question</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
