@{
    ViewData["Title"] = "Home Page";
}

<br /><br/>
<div class="text-center">
    <h1 class="display-4">Welcome to Stackoverflow! =))</h1>
    <p>Please <a href="User/Login">login</a> to your account or <a href="User/Register">register</a>.</p>
</div>